/* src/style.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#map {
  height: 360px;


  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
}


select {
  margin: 10px;
  padding: 5px;
}

#choix_equipes {
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
}

#trace_geo,
#trace_1d {
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
}

#legende_div {
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;

}




label {
  margin-right: 10px;
}

/* Ajoutez des styles spécifiques si nécessaire pour vos éléments spécifiques */

.device_aggreg {
  border: 2px solid #ccc;
  margin-right: 10px;
  margin-left: 10px;
  display: inline-block;
  /* ou display: inline-flex; */

  /* Couleur du texte en blanc, ajustez selon vos préférences */
}


#checkbox {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* Aligner les éléments à droite */
}

label {
  margin-bottom: 5px;
  /* Marge entre les labels pour un espacement visuel */
}

input[type="checkbox"] {
  margin-left: 5px;
  /* Marge à gauche pour un espacement visuel des cases à cocher */
}
  }
}
